li {
	display: inline;
	list-style-type: none;
}

span {
	display: block;
	border: 1px solid black;
	margin: 25px;
}

article.n-child > section:nth-child(even) {
	border: 1px solid black;
}


/*
In the article element with the class n-child, 
add a 1 pixel border around every even numbered
section element.
*/