header > ul > li {
	list-style-type: none;
	display: inline-block;
	margin-left: 12.5% ;
	margin-right: 12.5% ;
}

/*--- CLASSES ---*/

a .disabled {
	color: purple;
} 

.disabled {
	color: grey;
}

.active {
	color: yellow;
}

.header {
	border: 1px solid purple;
	margin: auto;
}

.promo {
	color: gold;
	font-weight: bold;
}



/*--- ID's ---*/

#red {
	color: red;
}

#red + h4 {
	background-color: red;
}

#blue {
	color: blue;
}

#blue + h4 {
	background-color: blue;
}


/*--- INPUT FIELDS ---*/

input[type=text] {
	height: 25px;
}












