html, body {
	min-height: 100%;
	width: 100%;	
}

body {
	background-color: lightblue;
}

h2 {
	background-color: lightgrey;
}

.main-content {
	min-height: 600px;
}

.song-header {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.thumbnail {
	border: 2px solid black;
	margin-bottom: 10px;
	padding: 10px 10px 0 10px;
	text-align: center;
	min-height: 500px;
	background-color: white;
}

.product-descriptions {
	text-align: center;
	width: 80%;
	margin: auto;
}

footer {
	padding: 10px;
	border: 2px solid black;
	justify-content: center;
	background-color: lightgrey;
}

footer > p {
	margin: 0;
}









